*{
    padding: 0%;
    margin: 0%;
}  
  
  .background{
background-image: url(./chalkboard-background-with-frame-layouts-free-space-rough-texture-studio-lighting_47726-11013.avif);
height: 300vh;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.logo{
    border-radius: 50%;
    height: 80px;
    margin-left: 60PX;
}
.linkitems{
    display: inline-block;
    margin: 20px 20px;
}
.items{
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    color:white;
    font-family: 'Pacifico', cursive;
}
.img{
    border:3px solid black;
    height:400px
}
.items:hover{
color: rgb(232, 10, 10);}


.item:hover{
    color: beige;
}
.poi{
    color: rgb(7, 103, 187);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 750px;
    font-size: 80px;

}
.pok{
    color: aqua;
    font-family: 'Lilita One', cursive;

}
.pol{
    color: aquamarine;
    font-family: 'Lilita One', cursive;
    margin-left: 50px;


}
.qw{
    color: aqua;
}



pou{
    color: blue;
}
iframe{
    width: 100%;
    margin-top: 150px;
}
.iconset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 2rem;
}
.icon{
    font-size: 50px;
    color: green;
}
.icon:hover{
    color: antiquewhite        ;
} 
.footer{
    background-color: rgb(82, 222, 32);
}
.form-label{
    color: aqua;
}